body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
